<html>
    <body>

        <form method="post" action="/data">
            <input type = "number", name="preg", placeholder="Preg", required = "Required"> 
            <input type = "number", name="plas", placeholder="Plas", required = "Required"> 
            <input type = "number", name="pres", placeholder="Pres", required = "Required"> 
            <input type = "number", name="skin", placeholder="Skin", required = "Required"> 
            <input type = "number", name="test", placeholder="Test", required = "Required"> 
            <input type = "number", name="mass", placeholder="Mass", required = "Required"> 
            <input type = "number", name="pedi", placeholder="Pedi", required = "Required"> 
            <input type = "number", name="age", placeholder="Age", required = "Required"> 
            <button>
                Submit
            </button>
        </form>

    </body>
</html>